@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-black-han: "Black Han Sans", sans-serif;
}
